<!-- Credits Footer -->
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Who are we?</h5>
        <p class="grey-text text-lighten-4">We are 6 UCL computer scientists interested in projects advancing education in the computer science space.</p>
      </div>

      <div class="col l3 s12">
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">See our work</h5>
        <ul>
          <li><a class="white-text" href="http://github.com/adamnpeace"><i class="material-icons" style="font-size: 18px">link</i> Adam Peace</a></li>
        </ul>
      </div>

    </div>
  </div>
    <!-- Copyright Footer -->
    <div class="footer-copyright">
      <div class="container">
        In collaboration with:
      <img style="height: 2em; vertical-align:middle"src="../assets/nhs.png">
      <img style="height: 2em; vertical-align:middle"src="../assets/ucl.png">
      </div>

    </div>
  </footer>

  <!-- Import Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="../node_modules/materialize-css/dist/js/materialize.js"></script>

  <!-- animation imports -->
  <script src="../node_modules/three/build/three.min.js"></script>
  <script src="../node_modules/three/examples/js/loaders/GLTFLoader.js"></script>
  <script src="../node_modules/three/examples/js/WebGL.js"></script>
  <script src="../node_modules/three/examples/js/libs/stats.min.js"></script>


  <!-- Import local JS -->
  <script src="../js/init.js"></script>
  <!-- Import local 3D JS -->
  <script src="./js/ani_cube.js"></script>

  </body>
</html>
