<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>GOSH DRIVE Prevision</title>
  <link rel="shortcut icon" href="assets/favicon.ico" />

  <!-- CSS Imports -->
  <link href="../node_modules/materialize-css/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Google Imports -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Montserrat|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|Kavoon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Trirong|Eczar|Gentium Basic" rel="stylesheet">

</head>
