<% include ./head.ejs %>
<body>
  <nav class="white" role="navigation">

    <div class="nav-wrapper container">
      <a style="font-family:Kavoon"id="logo-container" href="#" class="brand-logo">Team 17</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="#">Intro</a></li>
        <li><a href="#">Second Page</a></li>

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li class="active"><a href="/index.html">Intro</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <!--quicksand-->
        <h1 style="font-family: 'quicksand'" class="header center title-text">Holographics In Medicine</h1>
        <div class="row center">
          <!--inconsolata-->
          <h5 class="header col s12 light">A Great Ormond Street Hospital Project</h5>

        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../assets/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">flip</i></h2>
            <h5 class="center">Project Abstract</h5>

            <p class="light">Image processing of scans, 3d scanning and ML around medical imaging and networked medical collaboration and communications for clinical experts</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">visibility</i></h2>
            <h5 class="center">Very Cool</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">fingerprint</i></h2>
            <h5 class="center">Wow</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Animation -->
  <div id="animation"></div>

  <!-- Information Section -->
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Design</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>

  <!-- Parallax Splash -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 white-text">Wonderfully easy to use. Much much easier to learn with.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>


<% include ./footer.ejs %>
